.wraper {
    min-height: 190px;
    background-color: #f5fbfc;
    padding: 40px 3%;
    display: flex;
}

.header {

    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}

.title {
    font-size: 40px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
    color: #191b22;
    letter-spacing: -.03em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 40px;
}

.content {
    background-color: transparent;
    padding: 0 3% 60px;
    position: relative;
}

.table {
    border-bottom: 1px #e4ebf3;
    padding: 40px 30px 80px;
    position: relative;
}

.container {
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.container p {
    max-width: 530px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #546285;
    letter-spacing: -.02em;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 0;
}

.tableList {
    flex-direction: column;
    margin-top: 50px;
    display: flex;
}

.listRow {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 1px solid #e4ebf3;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 24px;
    padding-bottom: 20px;
    display: grid;
}

.row {
    grid-area: span 1 / span 1 / span 1 / span 1;
    background-position: 0%;
    margin-left: 24px;

    display: flex;
}

.svg {  
    margin-right: 16px;
}

.row p {
    margin: 0;
    font-size: 15px;
    color: #333333;
}

.btn {
    text-align: center;
    display: block;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.btn a {
    color: #f5fbfc;
    background-color: #4348ea;
    margin-top: 40px;
    min-height: 60px;
    text-align: center;
    background-image: url('/buttonwave.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    font-size: 18px;
    transition: background-color .25s;
    cursor: pointer;
    border: 0;
    padding: 7px 35px;
    text-decoration: none;
    display: inline-block;
}

.btn strong {
    color: #f5fbfc;
    text-align: center;
    font-size: 18px;
    line-height: 2.5;
    cursor: pointer;
}

@media screen and (max-width:991px) {
    .table {
        padding: 50px 10px;
    }
}